body {
	background-image: url("background.jpg");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.college{
	font-size: 50px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	justify-content: center;
	align-items: center;
	
}

.main{
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Libre Baskerville', serif;
	background-color: #00587A60;
	margin-right: 500px;
	margin-left: 500px;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}


}

.signup{
	color: #1a1c20;
	font-family: 'Libre Baskerville', serif;
	background-color: #0f305790;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	
}

.logo{
	margin: 10px;
	margin-left: 700px;
	margin-right: 700px;
	justify-content: center;
	align-items: center;
}


.end{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: bold;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #ec524b95;
	
}


.button{
	background-color: #00587A;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-right: 215px;
	margin-left: 215px;

}

input,select{

	background: #f4f4f265;
	border:none;
	border-bottom: solid;
	border-right: solid;
}


@media screen and (max-width: 1050px){

	body{ 
		margin-left: 370px;
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}

	.signup{
		text-align: center;
	    justify-content: center;
	    align-items: center;

	}

	.end{
		text-align: center;
	    justify-content: center;
	    align-items: center;

	}

}

@media screen and (max-width: 600px){

	main{
		margin-left: 470px;
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;

	}


	.main1{
		margin-left: 170px;
		margin-right: 100px;
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}

	.signup{
		display: flex;
		text-align: center;
	    justify-content: center;
	    align-items: center;

	}

	.end{
		display: flex;
		text-align: center;
	    justify-content: center;
	    align-items: center;

	}
	
}


