body {
	background-color: rgb(31, 31, 31);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.all-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.college{
	font-size: 50px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.main{
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Libre Baskerville', serif;
	background-color: #003950a4;
	border-radius: 25px;
	text-align: center;
}

.head{
	font-family: 'Libre Baskerville', serif;
	border-radius: 25px;
	margin-bottom: 20px;
	color: white;
}

.button button{
	background-color: #00587A;
	color: white;
	border: 1px solid #00acf0;
	border-radius: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 10px;

}

input,select{
	width: 200px;
	background: #f4f4f294;
	border:1px solid #00acf0;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	margin-top: 10px;
}


@media screen and (max-width: 1050px){

	body{ 
		margin-left: 370px;
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}

	.signup{
		text-align: center;
	    justify-content: center;
	    align-items: center;

	}

	.end{
		text-align: center;
	    justify-content: center;
	    align-items: center;

	}

}

@media screen and (max-width: 600px){

	main{
		margin-left: 470px;
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;

	}


	.main1{
		margin-left: 170px;
		margin-right: 100px;
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}

	.signup{
		display: flex;
		text-align: center;
	    justify-content: center;
	    align-items: center;

	}

	.end{
		display: flex;
		text-align: center;
	    justify-content: center;
	    align-items: center;

	}
	
}


